/* path => static/css/homepage.css */

.navbar{
    background-color: white;
    margin:0%;
    padding: 0%;
    border: 1px solid rgb(167, 167, 167);
}

.title1{
    font-family: 'sans-serif';
}

.logo{
    height: 50px;
    width: 90px;
}

.footer {
    background-color: rgb(158, 212, 247);
    border: 1px solid rgb(167, 167, 167);
}

.product-image {
    height: 200px;
    width: 300px;
}